body {
    background: #e9eaea;
    font-family: roboto;
}
  
.container {
    width: 450px;
    margin: 3% auto;
    background: #fff;
}

.login-register {
    display: flex;
    justify-content: center;
}

.register, .login {
    color: #34b3a0;
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 10%;
    width: 44%;
    border: 1px solid rgba(128, 128, 128, 0.329);
    background: #fff;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}
  
.register-form, .login-form {
    background: #fff;
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
}
  
.input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    color: #3e3e40;
    font-size: 14px;
    outline: none;
    transform: all 0.5s ease;
}
  
.input:focus {
    border: 2px solid #34b3a0;
}
  
.btn {
    width: 100%;
    background: #34b3a0;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 30px;
}

.bluto-vs-popeye {
    display: flex;
    position: absolute;
    z-index: -1;
}

#popeye {
    position: relative;
    bottom: 155px;
    width: 35%;
    height: 35%;
}

#bluto {
    position: relative;
    bottom: 30px;
    left: 460px;
    width: 37%;
    height: 37%;
}

#popeye-face {
    position: relative;
    left: 5px;
    width: 44%;
    height: 44%;
}

#bluto-face {
    position: relative;
    left: 180px;
    bottom: 30px;
    width: 45%;
    height: 45%;
}

h1 {
    font-family: 'Shojumaru', cursive;
    font-size: 5em;
    margin-top: 3% !important;
}

#color-switch {
    background-color: rgba(127, 134, 139, 0.692);
}
