.side-drawer {
    height: 100%;
    width: 230px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(12, 23, 29, 0.918);
} 

.side-drawer img {
    margin-top: 9%;
}

h4 {
    padding: 5px;
    width: 100%;
}

.link-box {
    margin: 5%;
}
