.side-drawer {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(12, 23, 29, 0.918);
} 

h4 {
    padding: 5px;
    width: 100%;
}

h4:hover {
    transform: scale(1.5);
}

.link-box {
    margin: 5%;
}

.link-box p {
    color: rgba(4, 150, 235, 0.918)
}

#welcome-user {
    color: rgba(4, 150, 235, 0.918);
}

#welcome-user span {
    font-size: 1.5em;
    display: block;
    font-family: 'Shojumaru', cursive;
    margin-top: 14%;
    margin-bottom: 5%;
}

#welcome-user p {
    font-size: 1.1em;
}

#logout-button {
    cursor: pointer;
    width: 90px;
    height: 26px;
    font-weight: 700;
    background-color: rgba(4, 150, 235, 0.918);
    border: rgba(4, 150, 235, 0.918);
    margin-bottom: 3%;
}

#logout-button:hover {
    transform: scale(1.1);
}
