.side-drawer {
    height: 100%;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(10, 101, 153, 0.918);
} 

h4 {
    /* border: 2px solid red; */
    padding: 5px;
    width: 100%;
}