.table-headers {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    margin: 0 auto;
    background-color: gray;
}

.section {
    border: 2px solid black;
    width: 100%;
    padding: 10px;
    font-size: 1.4em;
    font-weight: 700;
}

.weight, .set, .rep, .delete, .rpe {
    border-right: none;
}

.workload-header {
    background-color: white;
}
