h1 {
    font-size: 3em;
    font-weight: 600;
}

#whole-table {
    margin-top: 3%;
    margin-bottom: 1.5%;
}

.table-headers {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    margin: 0 auto;
    background-color: gray;
}

.section {
    border: 2px solid black;
    width: 100%;
    padding: 10px;
    font-size: 1.4em;
    font-weight: 700;
}

.weight, .set, .rep, .delete, .rpe {
    border-right: none;
}

.workload-header {
    background-color: white;
}

.delete, .update {
    width: 505px;
}

#trash-icon, #edit-icon {
    width: 90px;
    font-size: 1.8em;
}

#delete-button {
    background-color: red;
    border-radius: 5%;
}

#delete-button, #add-button {
    border: 2px solid black;
    cursor: pointer;
}

#delete-button:hover, #add-button:hover {
    transform: scale(1.1);
}

#add-button {
    text-align: center;
    width: 104px;
    margin: 0;
}

#edit-icon {
    text-align: left;
    margin-left: 5px;
    font-size: 1.3em;
}


