#whole-table {
    width: 960px;
    margin: 2% auto;
}

.table-headers {
    display: grid;
    grid-template-columns: 300px repeat(4, 120px) 90px 90px;
    background-color: gray;
}

.section {
    border: 2px solid black;
    width: 100%;
    padding: 10px;
    font-size: 1.4em;
    font-weight: 700;
    border-right: none;
}

.update {
    border-right: 2px solid black;
}

.x {
    padding-top: 16px;
}

.workload-exercise {
    background-color: gray;
}

.workload-header {
    background-color: white;
}

#trash-icon, #edit-icon {
    font-size: 1.8em;
}

#delete-button {
    border-radius: 5%;
    background-color: red;
}

#update-button {
    border-radius: 5%;
    background-color: rgb(2, 170, 221);
    height: 60px;
}

#delete-button, #update-button {
    border: 2px solid black;
    cursor: pointer;
    width: 90px;
}

#delete-button:hover, #update-button:hover {
    transform: scale(1.1);
}

.modal-style {
    text-align: center;
}

#workload-message img {
    width: 16em;
}

#workload-message  {
    margin-top: 4%;
    margin-left: 7%;
}

#workload-message h1 {
    color: rgba(4, 150, 235, 0.918);
    text-shadow: 3px 3px black;
    font-size: 42px;
    background-color: rgba(212, 209, 209, 0.685);
    width: 470px;
    margin: 1% auto;
}

#routine-header {
    font-size: 3em;
    font-weight: 800;
    text-shadow: 2px 2px rgb(143, 138, 138);
    margin-top: 2%;
    margin-left: 8%;
    color: rgb(4, 150, 235);
    font-family: 'Bitter', serif;
}

#create-button {
    margin-left: 8%;
}

.routine-background {
    border: 1px solid black;
    text-align: center;
    height: 100vh;
    background-image: url('./gym-background.jpeg');
    background-size: cover;
}

.form-field {
    margin-left: 40px !important;
    width: 330px;
}

.form-field input {
    background-color: rgba(212, 209, 209, 0.685) !important;
    font-weight: 700 !important;
    font-size: 1.1em !important;
    margin-bottom: 3% !important;
    margin-top: 1% !important;
}

.form-field input::placeholder {
    color: rgba(255, 255, 255, 0.527) !important;
}

#modal-routine {
    width: 450px;
    height: 68vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(42, 46, 49);
}

#modal-segment {
    background-color: rgb(42, 46, 49);
}

#modal-segment label {
    color: rgba(4, 150, 235, 0.945);
    font-size: 1.2em;
}

.modal-style {
    margin-top: 3% !important;
    color: rgba(4, 150, 235, 0.945);
}

#modal-submit {
    margin-left: 90%;
    margin-top: 5%;
}


@media only screen and (max-width: 1050px) {
    .routine-background {
        background-image: url('./gym-background-lg.png');
        background-size: cover;
    }

    .table-headers {
        grid-template-columns: 210px repeat(4, 100px) 75px 80px;
    }

    #whole-table {
        width: 762px;
        margin: 2% auto;
    }

    #delete-button, #update-button {
        width: 77px;
    }
}

@media only screen and (max-width: 800px) {
    .routine-background {
        background-image: url('./gym-background-lg.png');
        background-size: cover;
    }

    .x {
        height: 60px;
    }

    .x span {
        font-size: 0.85em;
    }
    
    .workload-exercise span {
        padding-bottom: 10px;
        position: relative;
        bottom: 4px;
    }

    .table-headers {
        grid-template-columns: 160px repeat(4, 75px) 65px 65px;
    }

    #whole-table {
        width: 590px;
        margin: 2% auto;
    }

    #delete-button, #update-button {
        width: 65px;
        height: 60px;
    }

    #trash-icon, #edit-icon {
        font-size: 1.4em;
    }

    .y span {
        font-size: 0.8em;
    } 

    .form-field {
        margin-left: 40px !important;
        width: 260px;
    }
    
    .modal-style {
        font-size: 2em;
        margin-bottom: -3%;
    }
    
    #modal-routine {
        width: 370px;
    }
}

@media only screen and (max-width: 600px) {
    .y {
        height: 40px;
    }

    .x {
        height: 50px;
    }

    .y span {
        font-size: 0.4em;
        position: relative;
        bottom: 3px;
    }

    .x span {
        font-size: 0.6em;
        margin-top: 5px;
    } 

    .section {
        padding: 8px;
    }

    .workload-exercise span {
        padding-bottom: 0;
        line-height: 1px;
    }

    .table-headers {
        grid-template-columns: 100px repeat(4, 45px) 45px 45px;
    }

    #whole-table {
        width: 370px;
        margin: 2% auto;
    }

    #delete-button, #update-button {
        width: 45px;
        height: 50px;
    }

    #trash-icon, #edit-icon {
        font-size: 1.1em;
    } 

    #routine-header {
        margin-top: 8%;
        font-size: 2.5em;
    }

    #create-button {
        width: 150px;
        font-size: 1em;
        margin-top: 1%;
    }
}

@media only screen and (max-width: 550px) {
    .form-field {
        margin-left: 20px !important;
        width: 220px;
    }
    
    .form-field input {
        font-weight: 700 !important;
        font-size: 1.1em !important;
        margin-bottom: 3% !important;
        margin-top: 1% !important;
    }


    .modal-style {
        font-size: 1.8em;
        margin-bottom: -3%;
    }
    
    #modal-routine {
        width: 290px;
        height: 68vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(42, 46, 49);
    }

    #workload-message img {
        margin-top: 2%;
        width: 15em;
    }
    
    #workload-message  {
        margin-top: 8%;
        margin-right: 8%;
    }
    
    #workload-message h1 {
        font-size: 38px;
        background-color: rgba(212, 209, 209, 0.322);
        width: 300px;
    }
}

@media only screen and (max-width: 380px) {
    .y {
        height: 30px;
    }

    .x {
        height: 45px;
    }

    .y span {
        font-size: 0.4em;
        position: relative;
        bottom: 8px;
    }

    .x span {
        font-size: 0.6em;
        position: relative;
        bottom: 3px;
    } 

    .section {
        padding: 5px;
    }
    
    .workload-exercise span {
        padding-bottom: 10px;
        position: relative;
        bottom: 10;
    }

    #whole-table {
        width: 327px; 
    }

    .table-headers {
        grid-template-columns: 100px repeat(4, 37px) 40px 40px;
    }

    #delete-button, #update-button {
        width: 40px;
        height: 45px;
    }

    #trash-icon, #edit-icon {
        font-size: 0.95em;
    } 

    #routine-header {
        margin-top: 12%;
        font-size: 7vw;
    }

    #create-button {
        width: 150px;
        font-size: 1em;
        margin-top: 1%;
    }
}