#whole-table {
    width: 960px;
    margin: 2% auto;
}

.table-headers {
    display: grid;
    grid-template-columns: 300px repeat(4, 120px) 90px 90px;
    background-color: gray;
}

.section {
    border: 2px solid black;
    width: 100%;
    padding: 10px;
    font-size: 1.4em;
    font-weight: 700;
    border-right: none;
}

.update {
    border-right: 2px solid black;
}

.x {
    padding-top: 16px;
}

.workload-exercise {
    background-color: gray;
}

.workload-header {
    background-color: white;
}


#trash-icon, #edit-icon {
    font-size: 1.8em;
}

#delete-button {
    border-radius: 5%;
    background-color: red;
}

#delete-button, #update-button {
    border: 2px solid black;
    cursor: pointer;
    width: 90px;
}

#delete-button:hover, #update-button:hover {
    transform: scale(1.1);
}

#edit-icon {
    text-align: left;
    margin-left: 2px;
    font-size: 1.3em;
}

.modal-style {
    text-align: center;
}

#workload-message img {
    width: 16em;
}

#workload-message  {
    margin-left: 7%;
}

#workload-message h1 {
    color: rgba(4, 150, 235, 0.918);
    text-shadow: 3px 3px black;
    font-size: 42px;
    background-color: rgba(212, 209, 209, 0.685);
    width: 470px;
    margin: 1% auto;
}

#routine-header {
    font-size: 3em;
    font-weight: 800;
    text-shadow: 2px 2px rgb(143, 138, 138);
    margin-top: 2%;
    margin-left: 8%;
    color: rgb(4, 150, 235);
    font-family: 'Bitter', serif;
}

#create-button {
    margin-left: 8%;
}

.routine-background {
    border: 1px solid black;
    text-align: center;
    height: 100vh;
    background-image: url('./gym-background.jpeg');
    background-size: cover;
}

.form-field {
    margin-left: 26% !important;
    width: 22vw;
}

.form-field input {
    background-color: rgba(212, 209, 209, 0.685) !important;
    font-weight: 700 !important;
    font-size: 1.1em !important;
}

.form-field input::placeholder {
    color: rgba(255, 255, 255, 0.527) !important;
}

#modal-routine {
    width: 30vw;
    height: 60vh;
    margin-left: 35%;
    margin-top: 5%;
    background-color: rgb(42, 46, 49);
}

#modal-segment {
    background-color: rgb(42, 46, 49);
}

#modal-segment label {
    color: rgba(4, 150, 235, 0.945);
    font-size: 1.2em;
}

.modal-style {
    margin-top: 3% !important;
    color: rgba(4, 150, 235, 0.945);
}

#modal-submit {
    margin-left: 90%;
    margin-top: 5%;
}


@media only screen and (max-width: 1050px) {
    .routine-background {
        background-image: url('./gym-background-lg.png');
        background-size: cover;
    }

    .table-headers {
        grid-template-columns: 210px repeat(4, 100px) 75px 80px;
    }

    #whole-table {
        width: 762px;
        margin: 2% auto;
    }

    #delete-button, #update-button {
        width: 77px;
    }

    #update-button {
        height: 68px;
    }

    #edit-icon {
        text-align: left;
        margin-left: -5px;
        font-size: 1.3em;
    }
    
}

@media only screen and (max-width: 800px) {
    .routine-background {
        background-image: url('./gym-background-lg.png');
        background-size: cover;
    }

    .X {
        height: 60px;
    }
    
    .workload-exercise span {
        padding-bottom: 10px;
        position: relative;
        bottom: 4px;
    }

    .table-headers {
        grid-template-columns: 160px repeat(4, 75px) 65px 65px;
    }

    #whole-table {
        width: 590px;
        margin: 2% auto;
    }

    #delete-button, #update-button {
        width: 65px;
        height: 60px;
    }

    #edit-icon {
        font-size: 1em;
        margin-left: -10px;
    }

    #trash-icon {
        font-size: 1.4em;
    }

    .y span {
        font-size: 0.8em;
    }
    
}