#home {
    border: 2px solid black;
    height: 100vh;
    background-image: url("./meEating.png");
    background-size: 100% 100%;
}

#intro {
    text-align: center;
    margin: 20vh auto;
    padding: 25px;
    width: 40%;
    background-color: rgba(4, 150, 235, 0.712);
}
  
#intro > h1 {
    font-size: 3.6em;
    color: rgb(42, 46, 49);
    text-shadow: 2px 2px black;
}
  
#intro > h3 {
    font-size: 1.6em;
    color: rgb(42, 46, 49);
    text-shadow: 2px 2px black;
}

#intro button {
    background-color: rgb(42, 46, 49);
    color: rgba(4, 150, 235, 0.911);
    width: 140px;
    height: 50px;
    border: 3px solid rgba(4, 150, 235, 0.911);
    margin-top: 3%;
}

#intro button:hover {
    transform: scale(1.1);
}

#intro a {
    color: rgba(4, 150, 235, 0.911);
    font-size: 1.3em;
}


@media only screen and (max-width: 1200px) {
    #home {
        background-image: url("./meEating-lg.png");
        background-size: cover;
    }

    #intro {
        padding: 15px;
        width: 480px;
        background-color: rgba(4, 150, 235, 0.712);
    }

    #intro > h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 800px) {
    #home {
        background-image: url("./meEating-md.png");
    }

    #intro {
        padding: 15px;
        width: 400px;
        background-color: rgba(4, 150, 235, 0.712);
    }

    #intro > h1 {
        font-size: 2.4em;
    }

    #intro > h3 {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 450px) {
    #home {
        background-image: url("./meEating-sm.png");
    }

    #intro {
        padding: 10px;
        width: 280px;
        background-color: rgba(4, 150, 235, 0.712);
    }

    #intro > h1 {
        font-size: 1.9em;
    }

    #intro > h3 {
        font-size: 0.97em;
    }

    #intro button {
        width: 110px;
        height: 40px;
    }

    #intro button a {
        font-size: 1em;
    }
}