.exercise-row {
    display: flex;
}

.exercise-row h1, .exercise-row h3 {
    margin-top: 4%;
}

.exercise-images {
    margin-left: 6%;
    flex: 0.7;
}

.exercise-images img{
    padding: 3%;
}

.exercise-info {
    text-align: left;
}

.modal-form {
    width: 20vw;
}