.exercise-row {
    width: 1140px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 3%;
}

.exercise-row h1, .exercise-row h3 {
    margin-top: 4%;
    color: white;
}

.exercise-images {
    display: flex;
}

.exercise-images img {
    width: 220px;
    height: 300px;
    margin: 0 15px;
    border: 2px solid black;
}

.exercise-info {
    text-align: left;
    margin-left: 2%;
}

.modal-form {
    width: 20vw;
}

#exercise-header {
    font-size: 4em;
    margin-top: 2%;
    margin-bottom: 4%;
    color: white;
}

.exercise-info span {
    font-weight: 800;
    color: rgba(4, 150, 235, 0.918);
}

@media only screen and (max-width: 1150px) {
    .exercise-row {
        width: 90vw;
        margin-bottom: 6%;
    }

    .exercise-row h1, .exercise-row h3 {
        margin-top: 1%;
    }
    
    .exercise-images img {
        width: 200px;
        height: 280px;
    }
    
    #exercise-header {
        font-size: 3.7em;
        margin-top: 2%;
        margin-bottom: 4%;
    }
}

@media only screen and (max-width: 850px) {
    .exercise-row {
        width: 90vw;
        margin-bottom: 6%;
    }

    .exercise-row h1, .exercise-row h3 {
        margin-top: 1%;
    }
    
    .exercise-images img {
        width: 200px;
        height: 280px;
    }
    
    #exercise-header {
        font-size: 3.7em;
        margin-top: 2%;
        margin-bottom: 4%;
    }
}