.exercise-row {
    width: 1140px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 3%;
}

.exercise-row h1, .exercise-row h3 {
    margin-top: 4%;
    color: white;
}

.exercise-images {
    display: flex;
}

.exercise-images img {
    width: 220px;
    height: 300px;
    margin: 0 15px;
    border: 2px solid black;
}

.exercise-info {
    text-align: left;
    margin-left: 2%;
}

.modal-form {
    width: 20vw;
}

#exercise-header {
    font-size: 4em;
    margin-top: 2%;
    margin-bottom: 4%;
    color: white;
}

.exercise-info span {
    font-weight: 800;
    color: rgba(4, 150, 235, 0.918);
}

@media only screen and (max-width: 1150px) {
    .exercise-row {
        width: 90vw;
        margin-bottom: 6%;
    }

    .exercise-row h1, .exercise-row h3 {
        margin-top: 1%;
    }
    
    .exercise-images img {
        width: 200px;
        height: 280px;
    }
    
    #exercise-header {
        font-size: 3.6em;
        margin-top: 2%;
        margin-bottom: 4%;
    }
}

@media only screen and (max-width: 850px) {
    .exercise-row {
        width: 95vw;
        margin-bottom: 8%;
    }

    .exercise-row h1 {
        font-size: 1.8em;
    }

    .exercise-row h3 {
        font-size: 1.15em;
    }
    
    .exercise-images img {
        width: 170px;
        height: 250px;
    }
    
    #exercise-header {
        font-size: 3em;
    }
}

@media only screen and (max-width: 700px) {
    .exercise-row {
        width: 95vw;
        display: block;
        margin-bottom: 8%;
    }

    .exercise-row h1 {
        font-size: 1.8em;
    }

    .exercise-row h3 {
        font-size: 1.15em;
    }
    
    .exercise-images {
        width: 450px;
        margin: auto;
    }
    
    .exercise-info {
        width: 500px;
        margin: 3% auto;
    }

    .exercise-images img {
        width: 210px;
        height: 300px;
    }
    
    #exercise-header {
        font-size: 3em;
        margin-top: 5%;
        margin-bottom: 7%;
    }
}

@media only screen and (max-width: 550px) {
    .exercise-row h1 {
        font-size: 1.5em;
    }

    .exercise-row h3 {
        font-size: 1.08em;
    }
    
    .exercise-images {
        width: 380px;
    }

    .exercise-images img {
        width: 170px;
        height: 240px;
        margin-left: 0;
    }

    .exercise-info {
        width: 400px;
    }
    
    #exercise-header {
        font-size: 2.5em;
        margin-top: 4%;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 420px) {
    .exercise-row {
        margin-bottom: 12%;
    }

    .exercise-row h1 {
        font-size: 1.2em;
    }

    .exercise-row h3 {
        font-size: 0.97em;
    }
    
    .exercise-images {
        width: 300px;
        margin: auto;
    }

    .exercise-images img {
        width: 140px;
        height: 200px;
        margin-left: 0;
    }

    .exercise-info {
        width: 95vw;
    }
    
    #exercise-header {
        font-size: 2em;
        margin-top: 6%;
        margin-bottom: 8%;
    }
}