.container {
    width: 450px;
    background: rgb(42, 46, 49);
    margin: 0 1%;
}

.login-register {
    display: flex;
    justify-content: center;
}

.register, .login {
    color: rgba(4, 150, 235, 0.945);
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 10%;
    width: 44%;
    border: 1px solid rgba(128, 128, 128, 0.329);
    background: #fff;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}
  
.register-form, .login-form {
    background: rgb(42, 46, 49);
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
}
  
.input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    color: #3e3e40;
    font-size: 14px;
    outline: none;
    transform: all 0.5s ease;
}
  
.input:focus {
    border: 2px solid rgba(4, 150, 235, 0.945);
}
  
.btn {
    width: 100%;
    background: rgba(4, 150, 235, 0.945);
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 30px;
}

.login-background {
    background-image: url('./gym-background.jpg');
    background-size: 100% 100%;
    border: 1px solid black;
    z-index: -2;
}

.register-background {
    background-color: rgb(15, 22, 29);
    border: 1px solid black;
}

.border-page {
    height: 100vh;
    border: 1px solid rgb(0, 0, 0);
    width: 1300px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
}

#popeye {
    width: 420px;
    height: 420px;
    margin-top: 70px;
}

#bluto {
    width: 420px;
    height: 450px;
    margin-top: 28px;
}

#popeye-face, #bluto-face {
    width: 420px;
    height: 350px;
    margin-top: 30px;
}

#bluto-face {
    margin-top: 50px;
}


.title {
    font-family: 'Shojumaru', cursive;
    font-size: 5em;
    margin-top: 3% !important;
    color: rgba(4, 150, 235, 0.945);
    text-shadow: 6px 3px 2px rgba(127, 134, 139, 0.692);
    text-align: center;
}

#color-switch {
    background-color: rgba(212, 209, 209, 0.685);
}

@media only screen and (max-width: 1300px) {
    #popeye, #bluto, #popeye-face, #bluto-face {
        display: none;
    }

    .border-page {
        width: 90vw;
    }

    .container {
        margin: 1% auto;
    }

    .title {
        margin-top: 4% !important;
        font-size: 4.5em;
    }
}