.side-drawer {
    width: 210px !important;
    background-color: rgba(12, 20, 27, 0) !important;
} 

h4 {
    padding: 5px;
    width: 100%;
}

h4:hover {
    transform: scale(1.5);
}

.link-box {
    margin: 5%;
}

.link-box p {
    color: rgba(4, 150, 235, 0.918)
}

.semantic-btn {
    width: 110px;
}